@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #1c1c1c;
    font-family: 'Roboto';
    color: white;
}

.sidemenu {
    background: #262626;
    height: 100vh;
    overflow-y: auto;
    padding: 0 !important;
}

.sidemenu .nav {
    margin-top: 20px;
    width: 100%;
    color: white;
    padding: 0 10px;
}

.sidemenu .nav a {
    color: white;
    text-decoration: none;
}

.sidemenu .nav ul, .sidemenu .nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidemenu .nav .nav-item {
    margin-bottom: 0;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    transition: background 0.2s ease-in-out;
}

.sidemenu .nav .nav-item.muted {
    color: #bcbcbc;
    padding: 5px 20px;
    margin-bottom: 0;
}

.sidemenu .nav-item i {
    margin-right: 10px;
}

.sidemenu .nav-item:hover, .sidemenu .nav-item.active {
    background: #4d4d4d;

}

.divider {
    border-bottom: 1px solid #4d4d4d;
    margin: 10px auto;
    width: 90%;
}
.sidemenu .logo {
    padding: 20px;
    text-align: center;
}

.sidemenu .logo img{
    width: 100%;
}

.content {
    height: 100vh;
    overflow-y: auto;
}

.video-preview {
    background: #1c1c1c;
    position: relative;
    border: none;
}
.video-preview .thumbnail {
    width: 100%;
}

.video-preview.small .thumbnail img {
    width: 100%;
    height: 150px;
    object-fit: fill;
    border-radius: 10px;
}
.video-preview .thumbnail img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
}
.video-preview .meta {
    width: 100%;
    color: white;
    background: #1c1c1c;
    margin-top: 15px;
}

.video-preview .meta .title {
    font-weight: bold;
    font-size: 1.1em;
}

.video-preview .meta .channel, .video-preview .meta .views {
    font-size: 0.9em;
    color: #bcbcbc;
}

.bg-dark {
    background: #1c1c1c !important;
    color: white;
}

.bg-light {
    background: #262626 !important;
    color: white;
}
.form-group label{
    color: white;
    margin-bottom: 10px;
}
.form-group .button {
    border-radius: 0 10px 10px 0;
    background: #262626;
    color: white;
    height: 44px;
    width: 44px;
}

.form-group input::placeholder {
    color: #bcbcbc;
}

.form-group input, .form-group textarea, .form-group select, .form-group input:focus, .form-group textarea:focus, .form-group select:focus{
    background: #1c1c1c;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.form-group.with-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group.with-btn input {
    border-radius: 10px 0 0 10px;
    background: #101010;
    outline: none;
}

.form-group.with-btn input:focus {
    outline: none;
}

.ml-auto {
    margin-left: auto;
}
.profile {
    height: 44px;
    width: 44px;
}

.profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.topnav {
    margin-bottom: 20px;
}


.video-upload {
    height: 200px;
    border: 2px dashed #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-upload canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    top:0;
    left: 0;
}

.btn {
    font-size: 0.9em;
    border-radius: 10px;
    padding: 5px 7px;
    transition: background 0.2s ease-in-out;
    text-align: center;
    border: none;
}

.btn.btn-block {
    width: 100%;
}

.btn.btn-primary {
    background: #ff5252;
    color: black;
}

.btn.btn-primary:hover {
    color: black;
    background: #d84545;
}

.btn.btn-muted {
    background: #bcbcbc;
    color: black;
}

.btn.btn-muted:hover {
    color: black;
    background: #4d4d4d;
}

.card.video {
    border: none;
    height: 400px;
    width: 100%;
}

.card.video video {
    width: 100%;
    height: 100%;
    object-fit: fit;
    background: black;
}

.channel .logo {
    overflow: hidden;
    border-radius: 50px;
    height: 40px;
    background: red;
    display: inline-block;
    margin-right: 10px;
}

.channel .logo img {
    height: 100%;
}

.channel .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.1rem;
}

.text-muted {
    color: #bcbcbc !important;
}

.text-small {
    font-size: 0.9em;
}

.comment-input .logo {
    overflow: hidden;
    border-radius: 50px;
    height: 35px;
    background: red;
    display: inline-block;
    margin-right: 10px;
}

.comment-input .logo img {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.comments .card {
    border: none;
}

.comment .text {
    padding: 0 10px;
    font-size: 0.9em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment .logo {
    overflow: hidden;
    border-radius: 50px;
    height: 35px;
    background: red;
}

.comment .logo img {
    height: 100%;
}

.channel .logo {
    overflow: hidden;
    border-radius: 50px;
    height: 70px;
    background: red;
    display: inline-block;
    margin-right: 10px;
}

.channel .logo img {
    height: 100%;
}

.channel .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.1rem;
}

.channel .subscribe-btn {
    margin-left: auto;
    justify-self: end;

}

.channel-name {
    margin-top: 20px;
}

.dropdown-menu {
    background: #262626;
    color: white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background: #4d4d4d;
}